.toc{
  display: table;
  padding: 7px;
  border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
}










.fmb{
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;;
}

.col-md-4{
  text-align: center;
}

.linea{
  border-top: 2px solid aliceblue;
  margin-bottom: 40px;
  width: 80%;

}



.linea2{
  border-top: 2px solid aliceblue;
  margin-bottom: 40px;
  width: 100%;
}
