<div class="container-fluid">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 "style="color:beige;">© 2022 RuXxDeSiGn.Site</p>


    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <img src="../../../assets/Rux-text.png" style="width: 200px;padding: 10px;">
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li  class="nav-item"><a style="color:beige;" routerLink="/home" class="nav-link px-2 ">Home</a></li>
      <li class="nav-item"><a style="color:beige;" routerLink="/create" class="nav-link px-2 ">Garage</a></li>
      <li class="nav-item"><a style="color:beige;" routerLink="/concesionario" class="nav-link px-2 ">Concesionario</a></li>
      <li class="nav-item"><a style="color:beige;" routerLink="/RuXx" class="nav-link px-2 ">Quien Soy</a></li>

    </ul>
  </footer>
</div>
