
<div class="navba">
<nav>
    <h2 class="logo">RuXx<span>Dev.</span>Site</h2>
    <ul class="nav-links">
      <li><a routerLink="/RuXx" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/home" routerLinkActive="active">WikiKar</a></li>
      <li><a routerLink="/concesionario" routerLinkActive="active">Garage</a></li>
      <li><a routerLink="/Ferrari" routerLinkActive="active">ferrari</a></li>
      <li><a routerLink="/Lamborghini" routerLinkActive="active">Lamborghini</a></li>
      <li><a routerLink="/Bmw" routerLinkActive="active">Bmw</a></li>
      <li><a routerLink="/Porsche" routerLinkActive="active">Posche</a></li>
      
    </ul>
    <button type="submit" >Registrate</button>

  </nav>

</div>