<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/RuXx" style="color:aliceblue">RuXx<span>Dev.</span>Site</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" (click)="toggleMenu()">
        <li class="nav-item">
          <a class="nav-link" (click)="toggleMenu()" routerLink="/RuXx" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="toggleMenu()" routerLink="/home" routerLinkActive="active">WikiKar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="toggleMenu()" routerLink="/concesionario" routerLinkActive="active">Garage</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Marcas
          </a>
          <ul class="dropdown-menu" (click)="toggleMenu()" style="background-color: #51160D;">
            <li><a class="dropdown-item" (click)="toggleMenu()" routerLink="/Ferrari" routerLinkActive="active">Ferrari</a></li>
            <li><a class="dropdown-item" (click)="toggleMenu()" routerLink="/Bmw" routerLinkActive="active">BmwPower</a></li>
            <li><a class="dropdown-item" (click)="toggleMenu()" routerLink="/Lamborghini" routerLinkActive="active">Lamborghini</a></li>
            <li><a class="dropdown-item" (click)="toggleMenu()" routerLink="/Porsche" routerLinkActive="active">Porsche</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <button class="btn btn-primary" type="submit"><a  style="font-size: bold; color: aliceblue; text-decoration: none;">Currículum</a></button>
  </div>
</nav>
