
.stretched-link{
  color:beige;
}



.colorlink {
  color:beige;
  text-decoration: none;
}


.post{
  color:#07bdc4;
}

.linea{
  border-top: 2px solid aliceblue;
  margin-bottom: 40px;
  width: 80%;

}

.custom-table-style {
  background-color: transparent; /* o cualquier otro color deseado */
}


