
:root {
  --bs-table-bg: initial; /* Restablece el valor de --bs-table-bg al valor inicial */
}

.stretched-link{
  color:beige;
}



.colorlink {
  color:beige;
  text-decoration: none;
}


.post{
  color:#07bdc4;
}

.linea{
  border-top: 2px solid aliceblue;
  margin-bottom: 40px;
  width: 80%;

}


  

