
                    

                      <div class="wrapper" style="height:100%; background-image: url('https://fotografias.lasexta.com/clipping/cmsimages01/2020/05/15/5818DFDC-51C2-48FE-BB24-3614F6DAF93E/98.jpg?crop=947,533,x167,y0&width=1900&height=1069&optimize=high&format=webply'); background-repeat: no-repeat;">
                          <div  class="body">



                                          <div class="card-body " >
                                              <h3 style="color:rgb(174, 209, 18)">Agregar Coche </h3>

                                              <form class="mt-4" [formGroup]="cocheForm" (ngSubmit)="onSubmit()">
                                                  <div class="row">
                                                      <div >
                                                          <input type="text" class="form-control form-control-lg mt-4" formControlName="imagen" placeholder="Imagen">
                                                      </div>
                                                      <div >
                                                          <input type="text" class="form-control form-control-lg mt-4" formControlName="marca" placeholder="Marca">
                                                      </div>
                                                  </div>
                                                  <input type="text" class="form-control form-control-lg mt-4" formControlName="modelo" placeholder="Modelo">
                                                  <input type="text" class="form-control form-control-lg mt-4" formControlName="motor" placeholder="Motor">
                                                  <input type="text" class="form-control form-control-lg mt-4" formControlName="anyo" placeholder="Año">
                                                  <input type="text" class="form-control form-control-lg mt-4" formControlName="categoria" placeholder="Categoria">
                                                  <br>
                                                  <div class="mt-3 ">
                                                      <button type="text" class="btn btn-warning btn-lg " routerLink="/home">Volver</button>
                                                      -
                                                      <button type="submit" class="btn btn-primary btn-lg ">Crear</button>
                                                  </div>
                                                  <br>
                                              </form>
                                          </div>
                                      </div>
                                  </div>






                      

                        
                      

                    

                      
