
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body cz-shortcut-listen="true"  sytle="width:100%; height:100%;">

  <main>
    <div class="container-fluid mt-5" style="padding: 0">
      <div>

      </div>
     
      <img  width="100%" height="100%"  src="../../../assets/WikiKar (1).jpg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
    </div>

    <div class="container">

      <div style="margin-top: 100px; text-align:center;">
        <h1 style="color:aliceblue">Wiki Car</h1>
      </div>
       <!-- START THE FEATURETTES -->

       <div class="linea2"></div>

       <div class="row featurette mt-4" style="margin-bottom: 150px;">
         <div class="col-md-7" style="text-align: center; margin-top: 150px;">
           <h2 class="featurette-heading fw-normal lh-2"><span style="color:red;">Hi, Im Antonio DelaRua </span> <span style="color:rgb(136, 139, 139)">Front Developer</span></h2>
           <p class="lead" >Wikikar es parte de mi entrenamiento, para avanzar en mis conocimientos   </p>
           
         </div>
 
         <div class="col-md-5" style="margin-top: 50px;">
           <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://www.raspberrypi.com/app/uploads/2018/12/2017_2018_EMC_Sec_heure-de-code_Tom-A.jpg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
 
         </div>
       </div>
 
 
      <div class="linea3"></div>

      <div class="table-responsive mt-5">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col" style="color:aliceblue">Año</th>
              <th scope="col" style="color:aliceblue">Marca</th>
              <th scope="col" style="color:aliceblue">Modelo</th>
              <th scope="col" style="color:aliceblue">Motor</th>
              <th scope="col" style="color:aliceblue">Categoria</th>
              <th scope="col" style="color:aliceblue"></th>
            </tr>
          </thead>
          <tbody style="color:aliceblue">
            <tr *ngFor="let coche of Coches | paginate: {itemsPerPage: 10, currentPage: page}" style="color:aliceblue" >
              <td style="color:aliceblue">{{coche.anyo}}</td>
              <td style="color:aliceblue">{{coche.marca}}</td>
              <td style="color:aliceblue">{{coche.modelo}}</td>
              <td style="color:aliceblue">{{coche.motor}}</td>
              <td style="color:aliceblue">{{coche.categoria}}</td>

              <td><button (click)="deleteCar"><i style="color:#25AEB6" class="fa-solid fa-bug"></i></button></td>

            </tr>

          </tbody>
          <br>
          <br>
          <pagination-controls (pageChange)="page = $event" previousLabel="Previous" nextLabel="Next" style="color:aliceblue"></pagination-controls>
        </table>
        <div class="d-flex justify-content-center">
          <button class="btn btn-secondary btn-lg" routerLink="/create" sstyle="background-color: #25AEB6;">Crear Coche</button>
        </div>
        
      </div>
      </div>



      


         <div class="container-galery">

        <h1 style="color:aliceblue">Coches Favoritos</h1>

        <div class="linea"></div>

        <div class="image-container">

          <div class="image"><h3 style="text-align: center;color:rgb(238, 241, 241)">Ferrari F40</h3><img src="https://noticias.coches.com/wp-content/uploads/2021/09/Ferrari-F40-Valeo-3.jpeg" alt=""></div>
          <div class="image"><h3 style="text-align: center;color:rgb(238, 241, 241)">Toyota Supra</h3><img src="https://wallpapercrafter.com/desktop/162433-car-vehicle-Toyota-Toyota-Supra-Khyzyl-Saleem-colored-wheels.jpg" alt="" ></div>
          <div class="image"><h3 style="text-align: center;color:rgb(238, 241, 241)">Nissan Skyline R34 GTR</h3><img src="https://www.tuningblog.eu/wp-content/uploads/2018/12/Work-Meister-S1-Airride-Skyline-Nissan-GT-R-Tuning-2.jpg" alt="" ></div>
          <div class="image"><h3 style="text-align: center;color:rgb(238, 241, 241)">Lamborghini Veneno</h3><img src="https://media.revistagq.com/photos/5e398a687c484c00080a225e/4:3/w_1039,h_779,c_limit/https___hypebeast.com_image_2020_01_2015-lamborghini-veneno-roadster-rm-sothebys-auction-info-01.jpg" alt="" ></div>
          <div class="image"><h3 style="text-align: center;color:rgb(238, 241, 241)">BMW M3 cls e46</h3><img src="https://www.diariomotor.com/imagenes/2022/06/bmw-m3-csl-v8-0622-06-62a7341089f81.jpg" alt="" ></div>
          <div class="image"><h3 style="text-align: center;color:rgb(238, 241, 241)">Porsche GT3 RS</h3><img src="https://www.km77.com/images/medium/2/2/6/5/porsche-911-gt3-rs-2022-lateral-frontal.362265.jpg" alt="" ></div>
          <div class="image"><h3 style="text-align: center;color:rgb(238, 241, 241)">Mclaren P1</h3><img src="https://wallpaperaccess.com/full/155140.jpg" alt="" ></div>
          <div class="image"><h3 style="text-align: center;color:rgb(238, 241, 241)">ferrari 458 Liberty walk</h3><img src="https://www.wallpaperup.com/uploads/wallpapers/2015/08/01/768700/d2769c67f043e04e257a9498e95c0849-700.jpg" alt="" ></div>
          <div class="image"><h3 style="text-align: center;color:rgb(238, 241, 241)">Lamborghini Aventador sv</h3><img src="https://www.tuningblog.eu/wp-content/uploads/2021/09/BiTurbo-Lamborghini-Aventador-SVJ-Underground-Performance-Tuning-12.jpg" alt="" ></div>
          <div class="image"><h3 style="text-align: center;color:rgb(238, 241, 241)">Lancer Evolution IX</h3><img src="https://i.pinimg.com/originals/02/47/df/0247df7aba5d48dea03f729b70cd3b6e.jpg" alt="" ></div>
          <div class="image"><h3 style="text-align: center;color:rgb(238, 241, 241)">Mercedes GTR Amg</h3><img src="https://robbreport.com/wp-content/uploads/2022/03/2-4.jpg?w=1000" alt="" ></div>
          <div class="image"><h3 style="text-align: center;color:rgb(238, 241, 241)">Posche Carrera Gt</h3><img src="https://i.pinimg.com/originals/61/4a/10/614a107b35fb83988d2e1533bbb99023.jpg" alt="" ></div>


        </div>



      </div>







  </main>
  <div class="py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" style="width: 100px;" src="https://seeklogo.com/images/F/ferrari-logo-7935CF173C-seeklogo.com.png" alt="..." aria-label="Microsoft Logo"></a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" style="width: 100px;" src="../../../assets/bmw-1596080_1920.png" alt="..." aria-label="Google Logo"></a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" style="width: 200px;" src="https://cdn.worldvectorlogo.com/logos/lamborghini-logo-1.svg" alt="..." aria-label="Facebook Logo"></a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" style="width: 200px;" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2cdd71aa-95d3-40ab-ae3b-d904eed9f559/d2f4rpg-d77974ef-82d1-47b8-95ec-8174c070332a.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzJjZGQ3MWFhLTk1ZDMtNDBhYi1hZTNiLWQ5MDRlZWQ5ZjU1OVwvZDJmNHJwZy1kNzc5NzRlZi04MmQxLTQ3YjgtOTVlYy04MTc0YzA3MDMzMmEucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.zbm4MnjTBvkFp3953B31gOntX8L1rnhMz7VpDjm_7TM" alt="..." aria-label="IBM Logo"></a>
            </div>
        </div>

      </div>

</div>


      <script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>




  <div style="position: static !important;"></div>
<div>
<app-footer></app-footer>
</div>
</body>
